// アイコンcss
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url("https://fonts.gstatic.com/s/materialsymbolsoutlined/v138/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2")
    format("woff2");
}
.material-symbols-outlined {
  // font-family: "Material Symbols Outlined";
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  color: rgba($color: #10f4d9, $alpha: 0.8);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  // -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  //position設定
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 998;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  position: relative;

  //スクロール時処理
  header.blur {
    background-color: rgba($color: #d6d3d3, $alpha: 0.6);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 999;
  }

  header {
    background-color: rgba($color: #d6d3d3, $alpha: 1);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 999;

    .wrap_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid rgba($color: rgb(255, 255, 255), $alpha: 1);
      .title {
        display: none;
      }
      .header_form {
        min-width: auto;
        min-height: 50px;
        display: flex;

        .header_textarea {
          width: auto;
          height: auto;
          border-radius: 4%;
          border-color: #d6d3d3;
        }
        .wrap_header_radio-btn {
          min-width: auto;
          height: auto;
          padding: 10px;
          display: flex;
          flex-direction: column;
        }
        .form_btn {
          min-width: auto;
          height: auto;
          padding: 20px;
          align-items: center;
          background-color: rgba($color: #f45c5c, $alpha: 1);
          color: rgba($color: #ffffff, $alpha: 1);
          border-radius: 10%;
          border-color: #d6d3d3;
        }
      }
    }
  }
  main {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;

    .src_before.after {
      display: none;
    }
    .img_box {
      width: 100%;
      height: 100%;

      #imageContainer {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .wrap_img {
          width: auto;
          height: auto;
          position: relative;
          margin: 5%;
          overflow: hidden;
          .img_grid {
            max-width: 100%;
            height: 100%;
            aspect-ratio: 3 / 4;
            object-fit: cover;
          }
          .img_grid:hover {
            opacity: 0.5;
            transform: scale(1.3, 1.3);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    header {
      .wrap_header {
        .title {
          display: initial;
        }
      }
    }
    main {
      .img_box {
        #imageContainer {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}
